body{
    height: 100vh;
    /*
    background-color: black;
    background-image: url(/Exercicios/EX022/Imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
     Shorthand - backgorund 
            color > image > position > repeat > [size] > attachment
        */
    background: black url(/Exercicios/EX022/Imagens/wallpaper002.jpg) center center no-repeat  fixed;
    background-size: cover;

}
main{
    background-color: white;
    padding: 10px;
    margin: auto;
    max-width: 400px;
    border-radius: 15px;
    text-align: center;
    background-size: 100%;
    border: 1px solid black;
}