@import "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Slabo+27px&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: "Slabo 27px", serif;
}

*{
    padding: 0;
    margin: 0;
}
html, body{
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 6vw;
}
header>p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
article{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2.9vw;
}
article.nrl{
    background-color: white;
    color: black;
}
article.img{
    background-color: rgb(115, 115, 115);
    color: white;

}
article.img > p{
    background-color: rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding: 7px;
    border-radius: 10px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
