@import "UTF-8";

*{
    padding: 0;
    margin: 0;
}
html, body{
    min-height: 100%;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header>p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
article{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}
article.nrl{
    background-color: white;
    color: black;
}
article.img{
    background-color: rgb(115, 115, 115);
    color: white;

}
article.img > p{
    background-color: rgba(0, 0, 0, 0.25);
    width: 400px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
