div.bloco{
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-image: url(/Exercicios/EX022/Imagens/wallpaper003.jpg);

}
div#q1 {
    background-position: left top;
}
div#q2{
    background-position: left center;
}
div#q3{
     background-position: right bottom;
}
div#q4{
    background-position: center center;
}
div#q5{
    background-position: top center;
}
div#q6{
    background-position: bottom center;
}