body{
    font-family: Arial, Helvetica, sans-serif
}
table{
    border-collapse: collapse;
    padding: 10px;
    width: 400px;
}
th, td{
    border: 1px solid  black;
    padding: 10px;
    text-align: center;
}
td.num{
    background-color: rgba(173, 173, 173, 0.938);
}
th{
    background-color: gray;
}
td.num2{
    background-color: gray;
}
