body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    padding: 10px;
    width: 400px;
}
td, th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
thead, tfoot{
    background-color: gray;
    color: white;
}
td.num{
    text-align: right;
}
td.cor{
    color: black;
}