body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    padding: 10px;
    width: 400px;
}
td, th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;

}
caption{
    
    font-size: 1.2em;
    font-weight: bold; 
    padding: 10px;
    background-color: rgb(158, 157, 157);
}

thead, tfoot{
    background-color: gray;
    color: white;
}
tbody > tr:nth-child(2n){  /* No lugar de ODD(IMPAR) posso colocar 2n-1 e EVEN(PAR) posso colocar 2n */
    background-color: rgb(95, 95, 95);
}

td.num{
    text-align: right;
}
td.cor{
    color: black;
} 