body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 10px;
    text-align: center; /*Alinhamento horizontal "center, right, left"*/
    vertical-align: middle; /*Alinhamento vertical "middle, top, bottom"*/
}
.numero{
    text-align: right;
    background-color: gray;
}
div.num{
    text-align: right;
}