/*Configuração de Imagens*/
body{
    background-image: url(Imagens/pattern002.png);
}
div.Quadrado {
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: gray;
}
div#q1{ 
    background-color: green; /*Primeira maneira de configurar o fundo */
}
div#q2{
    background-image: linear-gradient(to bottom, yellow , red); /*Segunda maneira de configurar o fundo */
}
div#q3{
    background-image: url(Imagens/pattern004.png); /*Terceira maneira de configurar o fundo */
}