.container div:hover{
    background-color: rgb(75, 133, 227);
}
.container div{
    text-align: center;
    display: inline-block;
    background-color: rgb(151, 151, 151);
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 5px;
}
