#container{
    position: relative;
    height: 96vh;
    padding: 10px;
    background-color: gray;
    background-image: url(/Exercicios/EX022/Imagens/target001.png);
    background-size: 100% 100%;
}
#conteudo{
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: yellow;
    background-image: url(/Exercicios/EX022/Imagens/target001.png);
    background-size: 100% 100%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}