#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    background-color: gray;
}

#conteudo{
    width: 200px;
    height: 200px;
    background-color: yellow;
}